USE [master]
GO
/****** Object:  Database [ProductionManagementSoftware]    Script Date: 12/23/2022 3:19:50 PM ******/
CREATE DATABASE [ProductionManagementSoftware]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductionManagementSoftware', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProductionManagementSoftware.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductionManagementSoftware_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProductionManagementSoftware_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductionManagementSoftware].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductionManagementSoftware]
GO
/****** Object:  Table [dbo].[BANGDINHMUC]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGDINHMUC](
	[IDBDM] [int] IDENTITY(1,1) NOT NULL,
	[MABDM] [nvarchar](255) NULL,
	[TENBDM] [nvarchar](255) NOT NULL,
	[GHICHU] [nvarchar](4000) NULL,
	[ACTIVE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDBDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTGIAIDOANSXHHTP]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTGIAIDOANSXHHTP](
	[IDCTGDSXHHTP] [int] IDENTITY(1,1) NOT NULL,
	[GHICHU] [nvarchar](4000) NULL,
	[IDGDSX] [int] NOT NULL,
	[IDHHTP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCTGDSXHHTP] ASC,
	[IDGDSX] ASC,
	[IDHHTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTNGANHANGKH]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTNGANHANGKH](
	[IDCTNHKH] [int] IDENTITY(1,1) NOT NULL,
	[STK] [nvarchar](255) NOT NULL,
	[IDKH] [int] NOT NULL,
	[IDNH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCTNHKH] ASC,
	[IDKH] ASC,
	[IDNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTNGANHANGNCC]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTNGANHANGNCC](
	[IDCTNHNCC] [int] IDENTITY(1,1) NOT NULL,
	[STK] [int] NOT NULL,
	[IDNH] [int] NOT NULL,
	[IDNCC] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCTNHNCC] ASC,
	[IDNH] ASC,
	[IDNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTTOSXHHTP]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTTOSXHHTP](
	[IDCTTSXHHTP] [int] IDENTITY(1,1) NOT NULL,
	[NGAYBD] [datetime] NOT NULL,
	[NGAYKT] [datetime] NOT NULL,
	[GHICHU] [nvarchar](4000) NULL,
	[IDTSX] [int] NOT NULL,
	[IDHHTP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCTTSXHHTP] ASC,
	[IDTSX] ASC,
	[IDHHTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDATHANGSX]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANGSX](
	[IDDHSX] [int] IDENTITY(1,1) NOT NULL,
	[MADHSX] [nvarchar](255) NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[NGAYGIAO] [datetime] NULL,
	[TRANGTHAI] [nvarchar](255) NOT NULL,
	[GHICHU] [nvarchar](4000) NULL,
	[ACTIVE] [int] NOT NULL,
	[IDKH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDHSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAIDOANSX]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAIDOANSX](
	[IDGDSX] [int] IDENTITY(1,1) NOT NULL,
	[MAGDSX] [nvarchar](255) NULL,
	[TENGDSX] [nvarchar](255) NOT NULL,
	[DONVINGAYCONG] [real] NOT NULL,
	[TRINHTUSX] [int] NOT NULL,
	[GHICHU] [nvarchar](4000) NULL,
	[ACTIVE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDGDSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGHOATHANHPHAM]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOATHANHPHAM](
	[IDHHTP] [int] IDENTITY(1,1) NOT NULL,
	[MAHHTP] [nvarchar](255) NULL,
	[TENHHTP] [nvarchar](255) NOT NULL,
	[DONGIACHUNG] [real] NULL,
	[MOTA] [nvarchar](4000) NULL,
	[HINHANH] [nvarchar](255) NULL,
	[ACTIVE] [int] NOT NULL,
	[IDBDM] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHHTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGSX]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGSX](
	[IDHSX] [int] IDENTITY(1,1) NOT NULL,
	[MAHSX] [nvarchar](255) NULL,
	[TENHSX] [nvarchar](255) NOT NULL,
	[ACTIVE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HINHTHUCTHANHTOAN]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINHTHUCTHANHTOAN](
	[IDHTTT] [int] IDENTITY(1,1) NOT NULL,
	[MAHTTT] [nvarchar](255) NULL,
	[TENHTTT] [nvarchar](255) NOT NULL,
	[ACTIVE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHTTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[IDKH] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [nvarchar](255) NULL,
	[TENKH] [nvarchar](255) NOT NULL,
	[CCCD] [nvarchar](255) NULL,
	[DIACHI] [nvarchar](4000) NOT NULL,
	[SDT] [nvarchar](255) NOT NULL,
	[EMAIL] [nvarchar](255) NULL,
	[MATKHAU] [nvarchar](255) NULL,
	[GIOITINH] [nvarchar](255) NOT NULL,
	[MASOTHUE] [nvarchar](255) NULL,
	[GHICHU] [nvarchar](4000) NULL,
	[NVIDSALE] [int] NULL,
	[HINHANH] [nvarchar](255) NULL,
	[NGAYSINH] [date] NULL,
	[FACEBOOK] [nvarchar](255) NULL,
	[ZALO] [nvarchar](255) NULL,
	[ACTIVE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGANHANG]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGANHANG](
	[IDNH] [int] IDENTITY(1,1) NOT NULL,
	[TENNH] [nvarchar](255) NOT NULL,
	[DIACHI] [nvarchar](4000) NOT NULL,
	[EMAIL] [nvarchar](255) NOT NULL,
	[MASOTHUE] [nvarchar](255) NOT NULL,
	[GHICHU] [nvarchar](4000) NULL,
	[ACTIVE] [int] NOT NULL,
	[IDHTTT] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAPVL]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAPVL](
	[IDNCC] [int] IDENTITY(1,1) NOT NULL,
	[MANCC] [nvarchar](255) NULL,
	[TENNCC] [nvarchar](255) NOT NULL,
	[DIACHI] [nvarchar](4000) NOT NULL,
	[SDT] [nvarchar](255) NOT NULL,
	[EMAIL] [nvarchar](255) NOT NULL,
	[MASOTHUE] [nvarchar](255) NOT NULL,
	[GHICHU] [nvarchar](4000) NULL,
	[FACEBOOK] [nvarchar](255) NULL,
	[ZALO] [nvarchar](255) NULL,
	[ACTIVE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[IDNV] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [nvarchar](255) NULL,
	[TENNV] [nvarchar](255) NOT NULL,
	[CCCD] [nvarchar](255) NULL,
	[NGAYSINH] [date] NOT NULL,
	[GIOITINH] [nvarchar](255) NOT NULL,
	[DIACHI] [nvarchar](4000) NOT NULL,
	[SDT] [nvarchar](255) NOT NULL,
	[EMAIL] [nvarchar](255) NOT NULL,
	[MASOTHUE] [nvarchar](255) NULL,
	[MATKHAU] [nvarchar](255) NULL,
	[HINHANH] [nvarchar](255) NULL,
	[TOSXID] [int] NULL,
	[GHICHU] [nvarchar](4000) NULL,
	[FACEBOOK] [nvarchar](255) NULL,
	[ZALO] [nvarchar](255) NULL,
	[ACTIVE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMVL]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMVL](
	[IDNVL] [int] IDENTITY(1,1) NOT NULL,
	[MANVL] [nvarchar](255) NULL,
	[TENNVL] [nvarchar](255) NOT NULL,
	[LOAINVL] [nvarchar](255) NOT NULL,
	[ACTIVE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNVL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOIDUNGDDHSX]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOIDUNGDDHSX](
	[IDHHTP] [int] NOT NULL,
	[SOLUONG] [real] NOT NULL,
	[DONGIA] [real] NOT NULL,
	[IDDHSX] [int] NOT NULL,
	[IDNDDDHSX] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHHTP] ASC,
	[IDDHSX] ASC,
	[IDNDDDHSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOIDUNGPBH]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOIDUNGPBH](
	[IDNDPBH] [int] IDENTITY(1,1) NOT NULL,
	[SOLUONG] [real] NOT NULL,
	[DONGIA] [real] NOT NULL,
	[IDPBH] [int] NOT NULL,
	[IDVL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNDPBH] ASC,
	[IDPBH] ASC,
	[IDVL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOIDUNGPNK]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOIDUNGPNK](
	[IDNDPNK] [int] IDENTITY(1,1) NOT NULL,
	[SOLUONG] [real] NOT NULL,
	[DONGIA] [real] NOT NULL,
	[SOLO] [nvarchar](255) NULL,
	[NGAYSX] [date] NULL,
	[HANSD] [date] NULL,
	[IDPNK] [int] NOT NULL,
	[IDVL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNDPNK] ASC,
	[IDPNK] ASC,
	[IDVL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOIDUNGTHUNODDHSX]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOIDUNGTHUNODDHSX](
	[IDNDTNDHSX] [int] IDENTITY(1,1) NOT NULL,
	[NGAYTHUNO] [datetime] NOT NULL,
	[SOTIEN] [real] NOT NULL,
	[GHICHU] [nvarchar](4000) NULL,
	[IDPTNKH] [int] NOT NULL,
	[IDDHSX] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNDTNDHSX] ASC,
	[IDPTNKH] ASC,
	[IDDHSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOIDUNGTHUNOKH]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOIDUNGTHUNOKH](
	[IDNDPTNKH] [int] IDENTITY(1,1) NOT NULL,
	[NGAYTHUNO] [datetime] NOT NULL,
	[SOTIEN] [real] NOT NULL,
	[GHICHU] [nvarchar](4000) NULL,
	[IDPTNKH] [int] NOT NULL,
	[IDPBH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNDPTNKH] ASC,
	[IDPTNKH] ASC,
	[IDPBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOIDUNGTRANONCC]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOIDUNGTRANONCC](
	[IDNDPTNNCC] [int] IDENTITY(1,1) NOT NULL,
	[SOTIEN] [real] NOT NULL,
	[NGAYTRANO] [datetime] NOT NULL,
	[GHICHU] [nvarchar](4000) NULL,
	[IDPTNNCC] [int] NOT NULL,
	[IDPNK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNDPTNNCC] ASC,
	[IDPTNNCC] ASC,
	[IDPNK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NUOCSX]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUOCSX](
	[IDNSX] [int] IDENTITY(1,1) NOT NULL,
	[MANSX] [nvarchar](255) NULL,
	[TENNSX] [nvarchar](255) NOT NULL,
	[ACTIVE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUBANHANG]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUBANHANG](
	[IDPBH] [int] IDENTITY(1,1) NOT NULL,
	[SOPHIEU] [nvarchar](255) NOT NULL,
	[NGAYLAP] [datetime] NOT NULL,
	[SOHD] [nvarchar](255) NULL,
	[NGAYHD] [datetime] NULL,
	[GHICHU] [nvarchar](4000) NULL,
	[ACTIVE] [int] NOT NULL,
	[IDNV] [int] NOT NULL,
	[IDKH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAPKHO]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPKHO](
	[IDPNK] [int] IDENTITY(1,1) NOT NULL,
	[SOPHIEU] [nvarchar](255) NOT NULL,
	[NGAYLAP] [datetime] NOT NULL,
	[SOHD] [nvarchar](255) NULL,
	[NGAYHD] [datetime] NULL,
	[GHICHU] [nvarchar](4000) NULL,
	[ACTIVE] [int] NOT NULL,
	[IDNCC] [int] NOT NULL,
	[IDNV] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPNK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHUNOKH]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUNOKH](
	[IDPTNKH] [int] IDENTITY(1,1) NOT NULL,
	[SOPHIEU] [nvarchar](255) NOT NULL,
	[NGAYLAP] [datetime] NOT NULL,
	[GHICHU] [nvarchar](4000) NULL,
	[ACTIVE] [int] NOT NULL,
	[IDHTTT] [int] NOT NULL,
	[IDNV] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPTNKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTRANONCC]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTRANONCC](
	[IDPTNNCC] [int] IDENTITY(1,1) NOT NULL,
	[SOPHIEU] [nvarchar](255) NOT NULL,
	[NGAYLAP] [datetime] NOT NULL,
	[GHICHU] [nvarchar](4000) NULL,
	[ACTIVE] [int] NOT NULL,
	[IDHTTT] [int] NOT NULL,
	[IDNV] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPTNNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOSANXUAT]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOSANXUAT](
	[IDTSX] [int] IDENTITY(1,1) NOT NULL,
	[MATSX] [nvarchar](255) NULL,
	[TENTSX] [nvarchar](255) NOT NULL,
	[GHICHU] [nvarchar](4000) NULL,
	[ACTIVE] [int] NOT NULL,
	[IDGDSX] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATLIEU]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATLIEU](
	[IDVL] [int] IDENTITY(1,1) NOT NULL,
	[MAVL] [nvarchar](255) NULL,
	[TENVL] [nvarchar](255) NOT NULL,
	[QUYCACH] [nvarchar](255) NOT NULL,
	[GIABAN] [real] NOT NULL,
	[ACTIVE] [int] NOT NULL,
	[IDNVL] [int] NOT NULL,
	[IDHSX] [int] NOT NULL,
	[IDNSX] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDVL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATLIEUSXBD]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATLIEUSXBD](
	[IDVLSXBD] [int] IDENTITY(1,1) NOT NULL,
	[SOLUONG] [real] NOT NULL,
	[DONVITINH] [nvarchar](255) NOT NULL,
	[DONGIADM] [real] NOT NULL,
	[IDBDM] [int] NOT NULL,
	[IDVL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDVLSXBD] ASC,
	[IDBDM] ASC,
	[IDVL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATLIEUSXTT]    Script Date: 12/23/2022 3:19:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATLIEUSXTT](
	[IDVLSXTT] [int] IDENTITY(1,1) NOT NULL,
	[SOLUONG] [real] NOT NULL,
	[DONVITINH] [nvarchar](255) NOT NULL,
	[IDHHTP] [int] NOT NULL,
	[IDVL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDVLSXTT] ASC,
	[IDHHTP] ASC,
	[IDVL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANGDINHMUC] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[DONDATHANGSX] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[GIAIDOANSX] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[HANGHOATHANHPHAM] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[HANGSX] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[HINHTHUCTHANHTOAN] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[NGANHANG] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[NHACUNGCAPVL] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[NHOMVL] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[NUOCSX] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[PHIEUBANHANG] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[PHIEUTHUNOKH] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[PHIEUTRANONCC] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[TOSANXUAT] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[VATLIEU] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[CTGIAIDOANSXHHTP]  WITH CHECK ADD  CONSTRAINT [FKCTGIAIDOAN438681] FOREIGN KEY([IDHHTP])
REFERENCES [dbo].[HANGHOATHANHPHAM] ([IDHHTP])
GO
ALTER TABLE [dbo].[CTGIAIDOANSXHHTP] CHECK CONSTRAINT [FKCTGIAIDOAN438681]
GO
ALTER TABLE [dbo].[CTGIAIDOANSXHHTP]  WITH CHECK ADD  CONSTRAINT [FKCTGIAIDOAN471065] FOREIGN KEY([IDGDSX])
REFERENCES [dbo].[GIAIDOANSX] ([IDGDSX])
GO
ALTER TABLE [dbo].[CTGIAIDOANSXHHTP] CHECK CONSTRAINT [FKCTGIAIDOAN471065]
GO
ALTER TABLE [dbo].[CTNGANHANGKH]  WITH CHECK ADD  CONSTRAINT [FKCTNGANHANG333690] FOREIGN KEY([IDNH])
REFERENCES [dbo].[NGANHANG] ([IDNH])
GO
ALTER TABLE [dbo].[CTNGANHANGKH] CHECK CONSTRAINT [FKCTNGANHANG333690]
GO
ALTER TABLE [dbo].[CTNGANHANGKH]  WITH CHECK ADD  CONSTRAINT [FKCTNGANHANG63746] FOREIGN KEY([IDKH])
REFERENCES [dbo].[KHACHHANG] ([IDKH])
GO
ALTER TABLE [dbo].[CTNGANHANGKH] CHECK CONSTRAINT [FKCTNGANHANG63746]
GO
ALTER TABLE [dbo].[CTNGANHANGNCC]  WITH CHECK ADD  CONSTRAINT [FKCTNGANHANG621514] FOREIGN KEY([IDNCC])
REFERENCES [dbo].[NHACUNGCAPVL] ([IDNCC])
GO
ALTER TABLE [dbo].[CTNGANHANGNCC] CHECK CONSTRAINT [FKCTNGANHANG621514]
GO
ALTER TABLE [dbo].[CTNGANHANGNCC]  WITH CHECK ADD  CONSTRAINT [FKCTNGANHANG844559] FOREIGN KEY([IDNH])
REFERENCES [dbo].[NGANHANG] ([IDNH])
GO
ALTER TABLE [dbo].[CTNGANHANGNCC] CHECK CONSTRAINT [FKCTNGANHANG844559]
GO
ALTER TABLE [dbo].[CTTOSXHHTP]  WITH CHECK ADD  CONSTRAINT [FKCTTOSXHHTP797612] FOREIGN KEY([IDTSX])
REFERENCES [dbo].[TOSANXUAT] ([IDTSX])
GO
ALTER TABLE [dbo].[CTTOSXHHTP] CHECK CONSTRAINT [FKCTTOSXHHTP797612]
GO
ALTER TABLE [dbo].[CTTOSXHHTP]  WITH CHECK ADD  CONSTRAINT [FKCTTOSXHHTP947945] FOREIGN KEY([IDHHTP])
REFERENCES [dbo].[HANGHOATHANHPHAM] ([IDHHTP])
GO
ALTER TABLE [dbo].[CTTOSXHHTP] CHECK CONSTRAINT [FKCTTOSXHHTP947945]
GO
ALTER TABLE [dbo].[DONDATHANGSX]  WITH CHECK ADD  CONSTRAINT [FKDONDATHANG676586] FOREIGN KEY([IDKH])
REFERENCES [dbo].[KHACHHANG] ([IDKH])
GO
ALTER TABLE [dbo].[DONDATHANGSX] CHECK CONSTRAINT [FKDONDATHANG676586]
GO
ALTER TABLE [dbo].[HANGHOATHANHPHAM]  WITH CHECK ADD  CONSTRAINT [FKHANGHOATHA437557] FOREIGN KEY([IDBDM])
REFERENCES [dbo].[BANGDINHMUC] ([IDBDM])
GO
ALTER TABLE [dbo].[HANGHOATHANHPHAM] CHECK CONSTRAINT [FKHANGHOATHA437557]
GO
ALTER TABLE [dbo].[NGANHANG]  WITH CHECK ADD  CONSTRAINT [FKNGANHANG536661] FOREIGN KEY([IDHTTT])
REFERENCES [dbo].[HINHTHUCTHANHTOAN] ([IDHTTT])
GO
ALTER TABLE [dbo].[NGANHANG] CHECK CONSTRAINT [FKNGANHANG536661]
GO
ALTER TABLE [dbo].[NOIDUNGDDHSX]  WITH CHECK ADD  CONSTRAINT [FKNOIDUNGDDH522799] FOREIGN KEY([IDDHSX])
REFERENCES [dbo].[DONDATHANGSX] ([IDDHSX])
GO
ALTER TABLE [dbo].[NOIDUNGDDHSX] CHECK CONSTRAINT [FKNOIDUNGDDH522799]
GO
ALTER TABLE [dbo].[NOIDUNGDDHSX]  WITH CHECK ADD  CONSTRAINT [FKNOIDUNGDDH81086] FOREIGN KEY([IDHHTP])
REFERENCES [dbo].[HANGHOATHANHPHAM] ([IDHHTP])
GO
ALTER TABLE [dbo].[NOIDUNGDDHSX] CHECK CONSTRAINT [FKNOIDUNGDDH81086]
GO
ALTER TABLE [dbo].[NOIDUNGPBH]  WITH CHECK ADD  CONSTRAINT [FKNOIDUNGPBH386396] FOREIGN KEY([IDVL])
REFERENCES [dbo].[VATLIEU] ([IDVL])
GO
ALTER TABLE [dbo].[NOIDUNGPBH] CHECK CONSTRAINT [FKNOIDUNGPBH386396]
GO
ALTER TABLE [dbo].[NOIDUNGPBH]  WITH CHECK ADD  CONSTRAINT [FKNOIDUNGPBH395289] FOREIGN KEY([IDPBH])
REFERENCES [dbo].[PHIEUBANHANG] ([IDPBH])
GO
ALTER TABLE [dbo].[NOIDUNGPBH] CHECK CONSTRAINT [FKNOIDUNGPBH395289]
GO
ALTER TABLE [dbo].[NOIDUNGPNK]  WITH CHECK ADD  CONSTRAINT [FKNOIDUNGPNK363708] FOREIGN KEY([IDPNK])
REFERENCES [dbo].[PHIEUNHAPKHO] ([IDPNK])
GO
ALTER TABLE [dbo].[NOIDUNGPNK] CHECK CONSTRAINT [FKNOIDUNGPNK363708]
GO
ALTER TABLE [dbo].[NOIDUNGPNK]  WITH CHECK ADD  CONSTRAINT [FKNOIDUNGPNK386021] FOREIGN KEY([IDVL])
REFERENCES [dbo].[VATLIEU] ([IDVL])
GO
ALTER TABLE [dbo].[NOIDUNGPNK] CHECK CONSTRAINT [FKNOIDUNGPNK386021]
GO
ALTER TABLE [dbo].[NOIDUNGTHUNODDHSX]  WITH CHECK ADD  CONSTRAINT [FKNOIDUNGTHU358147] FOREIGN KEY([IDDHSX])
REFERENCES [dbo].[DONDATHANGSX] ([IDDHSX])
GO
ALTER TABLE [dbo].[NOIDUNGTHUNODDHSX] CHECK CONSTRAINT [FKNOIDUNGTHU358147]
GO
ALTER TABLE [dbo].[NOIDUNGTHUNODDHSX]  WITH CHECK ADD  CONSTRAINT [FKNOIDUNGTHU808595] FOREIGN KEY([IDPTNKH])
REFERENCES [dbo].[PHIEUTHUNOKH] ([IDPTNKH])
GO
ALTER TABLE [dbo].[NOIDUNGTHUNODDHSX] CHECK CONSTRAINT [FKNOIDUNGTHU808595]
GO
ALTER TABLE [dbo].[NOIDUNGTHUNOKH]  WITH CHECK ADD  CONSTRAINT [FKNOIDUNGTHU311955] FOREIGN KEY([IDPTNKH])
REFERENCES [dbo].[PHIEUTHUNOKH] ([IDPTNKH])
GO
ALTER TABLE [dbo].[NOIDUNGTHUNOKH] CHECK CONSTRAINT [FKNOIDUNGTHU311955]
GO
ALTER TABLE [dbo].[NOIDUNGTHUNOKH]  WITH CHECK ADD  CONSTRAINT [FKNOIDUNGTHU911968] FOREIGN KEY([IDPBH])
REFERENCES [dbo].[PHIEUBANHANG] ([IDPBH])
GO
ALTER TABLE [dbo].[NOIDUNGTHUNOKH] CHECK CONSTRAINT [FKNOIDUNGTHU911968]
GO
ALTER TABLE [dbo].[NOIDUNGTRANONCC]  WITH CHECK ADD  CONSTRAINT [FKNOIDUNGTRA430668] FOREIGN KEY([IDPNK])
REFERENCES [dbo].[PHIEUNHAPKHO] ([IDPNK])
GO
ALTER TABLE [dbo].[NOIDUNGTRANONCC] CHECK CONSTRAINT [FKNOIDUNGTRA430668]
GO
ALTER TABLE [dbo].[NOIDUNGTRANONCC]  WITH CHECK ADD  CONSTRAINT [FKNOIDUNGTRA854248] FOREIGN KEY([IDPTNNCC])
REFERENCES [dbo].[PHIEUTRANONCC] ([IDPTNNCC])
GO
ALTER TABLE [dbo].[NOIDUNGTRANONCC] CHECK CONSTRAINT [FKNOIDUNGTRA854248]
GO
ALTER TABLE [dbo].[PHIEUBANHANG]  WITH CHECK ADD  CONSTRAINT [FKPHIEUBANHA203472] FOREIGN KEY([IDNV])
REFERENCES [dbo].[NHANVIEN] ([IDNV])
GO
ALTER TABLE [dbo].[PHIEUBANHANG] CHECK CONSTRAINT [FKPHIEUBANHA203472]
GO
ALTER TABLE [dbo].[PHIEUBANHANG]  WITH CHECK ADD  CONSTRAINT [FKPHIEUBANHA876948] FOREIGN KEY([IDKH])
REFERENCES [dbo].[KHACHHANG] ([IDKH])
GO
ALTER TABLE [dbo].[PHIEUBANHANG] CHECK CONSTRAINT [FKPHIEUBANHA876948]
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FKPHIEUNHAPK10246] FOREIGN KEY([IDNV])
REFERENCES [dbo].[NHANVIEN] ([IDNV])
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO] CHECK CONSTRAINT [FKPHIEUNHAPK10246]
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FKPHIEUNHAPK566183] FOREIGN KEY([IDNCC])
REFERENCES [dbo].[NHACUNGCAPVL] ([IDNCC])
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO] CHECK CONSTRAINT [FKPHIEUNHAPK566183]
GO
ALTER TABLE [dbo].[PHIEUTHUNOKH]  WITH CHECK ADD  CONSTRAINT [FKPHIEUTHUNO460360] FOREIGN KEY([IDNV])
REFERENCES [dbo].[NHANVIEN] ([IDNV])
GO
ALTER TABLE [dbo].[PHIEUTHUNOKH] CHECK CONSTRAINT [FKPHIEUTHUNO460360]
GO
ALTER TABLE [dbo].[PHIEUTHUNOKH]  WITH CHECK ADD  CONSTRAINT [FKPHIEUTHUNO674725] FOREIGN KEY([IDHTTT])
REFERENCES [dbo].[HINHTHUCTHANHTOAN] ([IDHTTT])
GO
ALTER TABLE [dbo].[PHIEUTHUNOKH] CHECK CONSTRAINT [FKPHIEUTHUNO674725]
GO
ALTER TABLE [dbo].[PHIEUTRANONCC]  WITH CHECK ADD  CONSTRAINT [FKPHIEUTRANO140505] FOREIGN KEY([IDHTTT])
REFERENCES [dbo].[HINHTHUCTHANHTOAN] ([IDHTTT])
GO
ALTER TABLE [dbo].[PHIEUTRANONCC] CHECK CONSTRAINT [FKPHIEUTRANO140505]
GO
ALTER TABLE [dbo].[PHIEUTRANONCC]  WITH CHECK ADD  CONSTRAINT [FKPHIEUTRANO695999] FOREIGN KEY([IDNV])
REFERENCES [dbo].[NHANVIEN] ([IDNV])
GO
ALTER TABLE [dbo].[PHIEUTRANONCC] CHECK CONSTRAINT [FKPHIEUTRANO695999]
GO
ALTER TABLE [dbo].[TOSANXUAT]  WITH CHECK ADD  CONSTRAINT [FKTOSANXUAT416845] FOREIGN KEY([IDGDSX])
REFERENCES [dbo].[GIAIDOANSX] ([IDGDSX])
GO
ALTER TABLE [dbo].[TOSANXUAT] CHECK CONSTRAINT [FKTOSANXUAT416845]
GO
ALTER TABLE [dbo].[VATLIEU]  WITH CHECK ADD  CONSTRAINT [FKVATLIEU217323] FOREIGN KEY([IDNVL])
REFERENCES [dbo].[NHOMVL] ([IDNVL])
GO
ALTER TABLE [dbo].[VATLIEU] CHECK CONSTRAINT [FKVATLIEU217323]
GO
ALTER TABLE [dbo].[VATLIEU]  WITH CHECK ADD  CONSTRAINT [FKVATLIEU221391] FOREIGN KEY([IDNSX])
REFERENCES [dbo].[NUOCSX] ([IDNSX])
GO
ALTER TABLE [dbo].[VATLIEU] CHECK CONSTRAINT [FKVATLIEU221391]
GO
ALTER TABLE [dbo].[VATLIEU]  WITH CHECK ADD  CONSTRAINT [FKVATLIEU504386] FOREIGN KEY([IDHSX])
REFERENCES [dbo].[HANGSX] ([IDHSX])
GO
ALTER TABLE [dbo].[VATLIEU] CHECK CONSTRAINT [FKVATLIEU504386]
GO
ALTER TABLE [dbo].[VATLIEUSXBD]  WITH CHECK ADD  CONSTRAINT [FKVATLIEUSXB254823] FOREIGN KEY([IDBDM])
REFERENCES [dbo].[BANGDINHMUC] ([IDBDM])
GO
ALTER TABLE [dbo].[VATLIEUSXBD] CHECK CONSTRAINT [FKVATLIEUSXB254823]
GO
ALTER TABLE [dbo].[VATLIEUSXBD]  WITH CHECK ADD  CONSTRAINT [FKVATLIEUSXB738265] FOREIGN KEY([IDVL])
REFERENCES [dbo].[VATLIEU] ([IDVL])
GO
ALTER TABLE [dbo].[VATLIEUSXBD] CHECK CONSTRAINT [FKVATLIEUSXB738265]
GO
ALTER TABLE [dbo].[VATLIEUSXTT]  WITH CHECK ADD  CONSTRAINT [FKVATLIEUSXT183242] FOREIGN KEY([IDHHTP])
REFERENCES [dbo].[HANGHOATHANHPHAM] ([IDHHTP])
GO
ALTER TABLE [dbo].[VATLIEUSXTT] CHECK CONSTRAINT [FKVATLIEUSXT183242]
GO
ALTER TABLE [dbo].[VATLIEUSXTT]  WITH CHECK ADD  CONSTRAINT [FKVATLIEUSXT738839] FOREIGN KEY([IDVL])
REFERENCES [dbo].[VATLIEU] ([IDVL])
GO
ALTER TABLE [dbo].[VATLIEUSXTT] CHECK CONSTRAINT [FKVATLIEUSXT738839]
GO
USE [master]
GO
