USE [master]
GO
/****** Object:  Database [ProductionManagementSoftware]    Script Date: 12/14/2022 9:16:35 AM ******/
CREATE DATABASE [ProductionManagementSoftware]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductionManagementSoftware', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProductionManagementSoftware.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductionManagementSoftware_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProductionManagementSoftware_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductionManagementSoftware].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductionManagementSoftware]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[IDACCOUNT] [int] IDENTITY(1,1) NOT NULL,
	[TK] [nvarchar](255) NULL,
	[MK] [nvarchar](255) NULL,
	[ACTIVE] [int] NULL,
	[VAITROIDVT] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDACCOUNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANGDINHMUC]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGDINHMUC](
	[IDBDM] [int] IDENTITY(1,1) NOT NULL,
	[MABDM] [nvarchar](255) NULL,
	[TENBDM] [nvarchar](255) NULL,
	[GHICHU] [nvarchar](255) NULL,
	[ACTIVE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDBDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETGIAIDOANSANXUATHOANGHOATHANHPHAM]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETGIAIDOANSANXUATHOANGHOATHANHPHAM](
	[IDCTDGSXHHTP] [int] IDENTITY(1,1) NOT NULL,
	[GHICHU] [nvarchar](255) NULL,
	[GIAIDOANSANXUATIDGDSX] [int] NOT NULL,
	[HANGHOATHANHPHAMIDHHTP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCTDGSXHHTP] ASC,
	[GIAIDOANSANXUATIDGDSX] ASC,
	[HANGHOATHANHPHAMIDHHTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETNGANHANGKH]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETNGANHANGKH](
	[IDCTNHKH] [int] IDENTITY(1,1) NOT NULL,
	[STK] [nvarchar](255) NULL,
	[NGANHANGIDNH] [int] NOT NULL,
	[KHACHHANGIDKH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCTNHKH] ASC,
	[NGANHANGIDNH] ASC,
	[KHACHHANGIDKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETNGANHANGNCC]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETNGANHANGNCC](
	[IDCTNHNCC] [int] IDENTITY(1,1) NOT NULL,
	[NHACUNGCAPIDNCC] [int] NOT NULL,
	[NGANHANGIDNH] [int] NOT NULL,
	[STK] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCTNHNCC] ASC,
	[NHACUNGCAPIDNCC] ASC,
	[NGANHANGIDNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANGSANXUAT]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANGSANXUAT](
	[IDDHSX] [int] IDENTITY(1,1) NOT NULL,
	[MADHSX] [nvarchar](255) NULL,
	[NGAYDAT] [datetime] NULL,
	[NGAYGIAO] [datetime] NULL,
	[GHICHU] [nvarchar](255) NULL,
	[ACTIVE] [int] NULL,
	[KHACHHANGIDKH] [int] NOT NULL,
	[TRANGTHAIDONHANGIDTTDH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDHSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAIDOANSANXUAT]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAIDOANSANXUAT](
	[IDGDSX] [int] IDENTITY(1,1) NOT NULL,
	[MAGDSX] [nvarchar](255) NULL,
	[TENGDSX] [nvarchar](255) NULL,
	[DONVINGAYCONG] [nvarchar](255) NULL,
	[TRINHTUSANXUAT] [nvarchar](255) NULL,
	[ACTIVE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDGDSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGHOATHANHPHAM]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOATHANHPHAM](
	[IDHHTP] [int] IDENTITY(1,1) NOT NULL,
	[MAHHTP] [nvarchar](255) NULL,
	[TENHHTP] [nvarchar](255) NULL,
	[MOTA] [nvarchar](255) NULL,
	[HINHANH] [nvarchar](255) NULL,
	[ACTIVE] [int] NULL,
	[BANGDINHMUCIDBDM] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHHTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGSANXUAT]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGSANXUAT](
	[IDHSX] [int] IDENTITY(1,1) NOT NULL,
	[MAHSX] [nvarchar](255) NULL,
	[TENHSX] [nvarchar](255) NULL,
	[ACTIVE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HINHTHUCTHANHTOAN]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINHTHUCTHANHTOAN](
	[IDHTTT] [int] IDENTITY(1,1) NOT NULL,
	[MAHTTT] [nvarchar](255) NULL,
	[TENHTTT] [nvarchar](255) NULL,
	[ACTIVE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHTTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[IDKH] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [nvarchar](255) NULL,
	[TENKH] [nvarchar](255) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[SDT] [nvarchar](255) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[GIOITINH] [nvarchar](255) NULL,
	[MASOTHUE] [nvarchar](255) NULL,
	[GHICHU] [nvarchar](255) NULL,
	[NVIDSale] [int] NULL,
	[ACTIVE] [int] NULL,
	[ACCOUNTIDACCOUNT] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAINHANVIEN]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAINHANVIEN](
	[IDLNV] [int] IDENTITY(1,1) NOT NULL,
	[MALNV] [nvarchar](255) NULL,
	[TENLNV] [nvarchar](255) NULL,
	[GHICHU] [nvarchar](255) NULL,
	[ACTIVE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGANHANG]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGANHANG](
	[IDNH] [int] IDENTITY(1,1) NOT NULL,
	[TENNH] [nvarchar](255) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[MASOTHUE] [nvarchar](255) NULL,
	[GHICHU] [nvarchar](255) NULL,
	[ACTIVE] [int] NULL,
	[HINHTHUCTHANHTOANIDHTTT] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[IDNCC] [int] IDENTITY(1,1) NOT NULL,
	[MANCC] [nvarchar](255) NULL,
	[TENNCC] [nvarchar](255) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[SDT] [nvarchar](255) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[MASOTHUE] [nvarchar](255) NULL,
	[GHICHU] [nvarchar](255) NULL,
	[ACTIVE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[IDNV] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [nvarchar](255) NULL,
	[TENNV] [nvarchar](255) NULL,
	[GIOITINH] [nvarchar](255) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[SDT] [nvarchar](255) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[TOSXID] [int] NULL,
	[GHICHU] [nvarchar](255) NULL,
	[ACTIVE] [int] NULL,
	[LOAINHANVIENIDLNV] [int] NOT NULL,
	[ACCOUNTIDACCOUNT] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMVATLIEU]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMVATLIEU](
	[IDNVL] [int] IDENTITY(1,1) NOT NULL,
	[MANVL] [nvarchar](255) NULL,
	[TENNVL] [nvarchar](255) NULL,
	[LOAIVL] [nvarchar](255) NULL,
	[ACTIVE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNVL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOIDUNGDONDATHANGSANXUAT]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOIDUNGDONDATHANGSANXUAT](
	[IDNDDDHSX] [int] IDENTITY(1,1) NOT NULL,
	[SOLUONG] [nvarchar](255) NULL,
	[DONGIA] [nvarchar](255) NULL,
	[DONHANGSANXUATIDDHSX] [int] NOT NULL,
	[HANGHOATHANHPHAMIDHHTP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNDDDHSX] ASC,
	[DONHANGSANXUATIDDHSX] ASC,
	[HANGHOATHANHPHAMIDHHTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOIDUNGPHIEUNHAP]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOIDUNGPHIEUNHAP](
	[IDPNK] [int] IDENTITY(1,1) NOT NULL,
	[SOLUONG] [nvarchar](255) NULL,
	[DONGIA] [nvarchar](255) NULL,
	[VATLIEUIDVL] [int] NOT NULL,
	[PHIEUNHAPKHOIDPNK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPNK] ASC,
	[VATLIEUIDVL] ASC,
	[PHIEUNHAPKHOIDPNK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOIDUNGTHUNODONDATHANGKH]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOIDUNGTHUNODONDATHANGKH](
	[IDNDTNDDHKH] [int] IDENTITY(1,1) NOT NULL,
	[SOTIEN] [nvarchar](255) NULL,
	[NGAYTHUNO] [datetime] NULL,
	[GHICHU] [nvarchar](255) NULL,
	[PHIEUTHUNOKHIDPTNKH] [int] NOT NULL,
	[DONHANGSANXUATIDDHSX] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNDTNDDHKH] ASC,
	[PHIEUTHUNOKHIDPTNKH] ASC,
	[DONHANGSANXUATIDDHSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOIDUNGTHUNOKH]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOIDUNGTHUNOKH](
	[IDNDTNKH] [int] IDENTITY(1,1) NOT NULL,
	[SOTIEN] [nvarchar](255) NULL,
	[GHICHU] [nvarchar](255) NULL,
	[PHIEUTHUNOKHIDPTNKH] [int] NOT NULL,
	[PHIEUBANHANGIDPBH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNDTNKH] ASC,
	[PHIEUTHUNOKHIDPTNKH] ASC,
	[PHIEUBANHANGIDPBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOIDUNGTRANONCC]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOIDUNGTRANONCC](
	[IDNDTNNCC] [int] IDENTITY(1,1) NOT NULL,
	[SOTIEN] [nvarchar](255) NULL,
	[NGAYTRANO] [nvarchar](255) NULL,
	[GHICHU] [nvarchar](255) NULL,
	[PHIEUNHAPKHOIDPNK] [int] NOT NULL,
	[PHIEUTRANONCCIDPTNNCC] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNDTNNCC] ASC,
	[PHIEUNHAPKHOIDPNK] ASC,
	[PHIEUTRANONCCIDPTNNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUBANHANG]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUBANHANG](
	[IDPBH] [int] IDENTITY(1,1) NOT NULL,
	[SOPHIEU] [nvarchar](255) NULL,
	[NGAYLAP] [datetime] NULL,
	[SOHD] [nvarchar](255) NULL,
	[NGAYHD] [nvarchar](255) NULL,
	[GHICHU] [nvarchar](255) NULL,
	[ACTIVE] [int] NULL,
	[NHANVIENIDNV] [int] NOT NULL,
	[KHACHHANGIDKH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAPKHO]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPKHO](
	[IDPNK] [int] IDENTITY(1,1) NOT NULL,
	[SOPHIEU] [nvarchar](255) NULL,
	[NGAYNHAP] [nvarchar](255) NULL,
	[SOHD] [nvarchar](255) NULL,
	[NGAYHD] [nvarchar](255) NULL,
	[GHICHU] [nvarchar](255) NULL,
	[ACTIVE] [int] NULL,
	[NHANVIENIDNV] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPNK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHUNOKH]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUNOKH](
	[IDPTNKH] [int] IDENTITY(1,1) NOT NULL,
	[GHICHU] [nvarchar](255) NULL,
	[ACTIVE] [int] NULL,
	[HINHTHUCTHANHTOANIDHTTT] [int] NOT NULL,
	[NHANVIENIDNV] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPTNKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTRANONCC]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTRANONCC](
	[IDPTNNCC] [int] IDENTITY(1,1) NOT NULL,
	[GHICHU] [nvarchar](255) NULL,
	[ACTIVE] [int] NULL,
	[HINHTHUCTHANHTOANIDHTTT] [int] NOT NULL,
	[NHANVIENIDNV] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPTNNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOSANXUAT]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOSANXUAT](
	[IDTSX] [int] IDENTITY(1,1) NOT NULL,
	[MATSX] [nvarchar](255) NULL,
	[TENTSX] [nvarchar](255) NULL,
	[GHICHU] [nvarchar](255) NULL,
	[ACTIVE] [int] NULL,
	[GIAIDOANSANXUATIDGDSX] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOSANXUATHANGHOATHANHPHAM]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOSANXUATHANGHOATHANHPHAM](
	[IDTSXHHTP] [int] IDENTITY(1,1) NOT NULL,
	[TOSANXUATIDTSX] [int] NOT NULL,
	[HANGHOATHANHPHAMIDHHTP] [int] NOT NULL,
	[NGAYBD] [datetime] NULL,
	[NGAYKT] [datetime] NULL,
	[GHICHU] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTSXHHTP] ASC,
	[TOSANXUATIDTSX] ASC,
	[HANGHOATHANHPHAMIDHHTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAIDONHANG]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAIDONHANG](
	[IDTTDH] [int] IDENTITY(1,1) NOT NULL,
	[MATTDH] [nvarchar](255) NULL,
	[TENTTDH] [nvarchar](255) NULL,
	[ACTIVE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTTDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAITRO]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAITRO](
	[IDVT] [int] IDENTITY(1,1) NOT NULL,
	[MAVT] [nvarchar](255) NULL,
	[TENVT] [nvarchar](255) NULL,
	[GHICHU] [nvarchar](255) NULL,
	[ACTIVE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATLIEU]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATLIEU](
	[IDVL] [int] IDENTITY(1,1) NOT NULL,
	[MAVL] [nvarchar](255) NULL,
	[TENVL] [nvarchar](255) NULL,
	[DONVITINH] [nvarchar](255) NULL,
	[QUYCACH] [nvarchar](255) NULL,
	[GIABAN] [nvarchar](255) NULL,
	[ACTIVE] [int] NULL,
	[NHOMVATLIEUIDNVL] [int] NOT NULL,
	[HANGSANXUATIDHSX] [int] NOT NULL,
	[NHACUNGCAPIDNCC] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDVL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATLIEUSANXUATBANDAU]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATLIEUSANXUATBANDAU](
	[IDVLSXBD] [int] IDENTITY(1,1) NOT NULL,
	[SOLUONG] [nvarchar](255) NULL,
	[DONVITINH] [nvarchar](255) NULL,
	[DONGIADM] [nvarchar](255) NULL,
	[VATLIEUIDVL] [int] NOT NULL,
	[BANGDINHMUCIDBDM] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDVLSXBD] ASC,
	[VATLIEUIDVL] ASC,
	[BANGDINHMUCIDBDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATLIEUSANXUATTHUC]    Script Date: 12/14/2022 9:16:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATLIEUSANXUATTHUC](
	[IDVLT] [int] IDENTITY(1,1) NOT NULL,
	[SOLUONG] [nvarchar](255) NULL,
	[DONVITINH] [nvarchar](255) NULL,
	[VATLIEUIDVL] [int] NOT NULL,
	[HANGHOATHANHPHAMIDHHTP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDVLT] ASC,
	[VATLIEUIDVL] ASC,
	[HANGHOATHANHPHAMIDHHTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCOUNT] ON 

INSERT [dbo].[ACCOUNT] ([IDACCOUNT], [TK], [MK], [ACTIVE], [VAITROIDVT]) VALUES (1, N'admin', N'admin', 1, 1)
INSERT [dbo].[ACCOUNT] ([IDACCOUNT], [TK], [MK], [ACTIVE], [VAITROIDVT]) VALUES (2, N'dtny050601@gmail.com', N'KH12345', 1, 2)
SET IDENTITY_INSERT [dbo].[ACCOUNT] OFF
GO
SET IDENTITY_INSERT [dbo].[CHITIETNGANHANGKH] ON 

INSERT [dbo].[CHITIETNGANHANGKH] ([IDCTNHKH], [STK], [NGANHANGIDNH], [KHACHHANGIDKH]) VALUES (1, N'4583215646', 1, 4)
SET IDENTITY_INSERT [dbo].[CHITIETNGANHANGKH] OFF
GO
SET IDENTITY_INSERT [dbo].[GIAIDOANSANXUAT] ON 

INSERT [dbo].[GIAIDOANSANXUAT] ([IDGDSX], [MAGDSX], [TENGDSX], [DONVINGAYCONG], [TRINHTUSANXUAT], [ACTIVE]) VALUES (1, N'GD1', N'Giai đoạn 1', N'500000', N'1', 1)
SET IDENTITY_INSERT [dbo].[GIAIDOANSANXUAT] OFF
GO
SET IDENTITY_INSERT [dbo].[HANGSANXUAT] ON 

INSERT [dbo].[HANGSANXUAT] ([IDHSX], [MAHSX], [TENHSX], [ACTIVE]) VALUES (1, N'H001', N'Hãng sản xuất abc', 1)
SET IDENTITY_INSERT [dbo].[HANGSANXUAT] OFF
GO
SET IDENTITY_INSERT [dbo].[HINHTHUCTHANHTOAN] ON 

INSERT [dbo].[HINHTHUCTHANHTOAN] ([IDHTTT], [MAHTTT], [TENHTTT], [ACTIVE]) VALUES (1, N'ONLINE', N'Chuyển khoản ngân hàng', 1)
INSERT [dbo].[HINHTHUCTHANHTOAN] ([IDHTTT], [MAHTTT], [TENHTTT], [ACTIVE]) VALUES (2, N'OFFLINE', N'Tiền mặt', 1)
SET IDENTITY_INSERT [dbo].[HINHTHUCTHANHTOAN] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([IDKH], [MAKH], [TENKH], [DIACHI], [SDT], [EMAIL], [GIOITINH], [MASOTHUE], [GHICHU], [NVIDSale], [ACTIVE], [ACCOUNTIDACCOUNT]) VALUES (4, N'dtny', N'Đặng Thị Như Ý', N'Đồng Tháp', N'0384319201', N'dtny050601@gmail.com', N'Nữ', N'43453213', NULL, NULL, 1, 2)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAINHANVIEN] ON 

INSERT [dbo].[LOAINHANVIEN] ([IDLNV], [MALNV], [TENLNV], [GHICHU], [ACTIVE]) VALUES (1, N'NVQTV', N'Quản trị viên', NULL, 1)
INSERT [dbo].[LOAINHANVIEN] ([IDLNV], [MALNV], [TENLNV], [GHICHU], [ACTIVE]) VALUES (2, N'NVSX', N'Nhân viên sản xuất', NULL, 1)
SET IDENTITY_INSERT [dbo].[LOAINHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[NGANHANG] ON 

INSERT [dbo].[NGANHANG] ([IDNH], [TENNH], [DIACHI], [EMAIL], [MASOTHUE], [GHICHU], [ACTIVE], [HINHTHUCTHANHTOANIDHTTT]) VALUES (1, N'Vietcombank', N'Đồng Tháp', N'dtny050601@gmail.com', N'43453213', N'abc', 1, 1)
SET IDENTITY_INSERT [dbo].[NGANHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([IDNCC], [MANCC], [TENNCC], [DIACHI], [SDT], [EMAIL], [MASOTHUE], [GHICHU], [ACTIVE]) VALUES (1, N'NCC1', N'Công ty vật liệu sản xuất ABC', N'20B, Bình Mỹ, Củ Chi, Tp.HCM', N'0384319201', N'abc@gmail.com', N'43453213', NULL, 1)
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([IDNV], [MANV], [TENNV], [GIOITINH], [DIACHI], [SDT], [EMAIL], [TOSXID], [GHICHU], [ACTIVE], [LOAINHANVIENIDLNV], [ACCOUNTIDACCOUNT]) VALUES (1, N'ADMIN', N'Nguyễn Văn Hiền', N'Nam', NULL, NULL, N'nguyenvanhien050601@gmail.com', NULL, NULL, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[NHOMVATLIEU] ON 

INSERT [dbo].[NHOMVATLIEU] ([IDNVL], [MANVL], [TENNVL], [LOAIVL], [ACTIVE]) VALUES (1, NULL, N'Vật liệu sản xuất', N'Sản xuất', 1)
SET IDENTITY_INSERT [dbo].[NHOMVATLIEU] OFF
GO
SET IDENTITY_INSERT [dbo].[NOIDUNGPHIEUNHAP] ON 

INSERT [dbo].[NOIDUNGPHIEUNHAP] ([IDPNK], [SOLUONG], [DONGIA], [VATLIEUIDVL], [PHIEUNHAPKHOIDPNK]) VALUES (1, N'33', N'35435435', 1, 1)
INSERT [dbo].[NOIDUNGPHIEUNHAP] ([IDPNK], [SOLUONG], [DONGIA], [VATLIEUIDVL], [PHIEUNHAPKHOIDPNK]) VALUES (2, N'5', N'24536', 1, 1)
SET IDENTITY_INSERT [dbo].[NOIDUNGPHIEUNHAP] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUNHAPKHO] ON 

INSERT [dbo].[PHIEUNHAPKHO] ([IDPNK], [SOPHIEU], [NGAYNHAP], [SOHD], [NGAYHD], [GHICHU], [ACTIVE], [NHANVIENIDNV]) VALUES (1, N'911', N'2022-12-12', NULL, NULL, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[PHIEUNHAPKHO] OFF
GO
SET IDENTITY_INSERT [dbo].[TOSANXUAT] ON 

INSERT [dbo].[TOSANXUAT] ([IDTSX], [MATSX], [TENTSX], [GHICHU], [ACTIVE], [GIAIDOANSANXUATIDGDSX]) VALUES (1, N'TSX1', N'Tổ cắt vải', NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[TOSANXUAT] OFF
GO
SET IDENTITY_INSERT [dbo].[VAITRO] ON 

INSERT [dbo].[VAITRO] ([IDVT], [MAVT], [TENVT], [GHICHU], [ACTIVE]) VALUES (1, N'QTV', N'Quản trị viên', NULL, 1)
INSERT [dbo].[VAITRO] ([IDVT], [MAVT], [TENVT], [GHICHU], [ACTIVE]) VALUES (2, N'KH', N'Khách hàng', NULL, 1)
SET IDENTITY_INSERT [dbo].[VAITRO] OFF
GO
SET IDENTITY_INSERT [dbo].[VATLIEU] ON 

INSERT [dbo].[VATLIEU] ([IDVL], [MAVL], [TENVL], [DONVITINH], [QUYCACH], [GIABAN], [ACTIVE], [NHOMVATLIEUIDNVL], [HANGSANXUATIDHSX], [NHACUNGCAPIDNCC]) VALUES (1, N'5641', N'Vải kaki', N'Cuộn', N'50', NULL, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[VATLIEU] OFF
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[BANGDINHMUC] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[DONHANGSANXUAT] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[GIAIDOANSANXUAT] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[HANGHOATHANHPHAM] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[HINHTHUCTHANHTOAN] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[LOAINHANVIEN] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[NGANHANG] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[NHACUNGCAP] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[PHIEUBANHANG] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[PHIEUTHUNOKH] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[PHIEUTRANONCC] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[TOSANXUAT] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[TRANGTHAIDONHANG] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[VAITRO] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[VATLIEU] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FKACCOUNT591048] FOREIGN KEY([VAITROIDVT])
REFERENCES [dbo].[VAITRO] ([IDVT])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FKACCOUNT591048]
GO
ALTER TABLE [dbo].[CHITIETGIAIDOANSANXUATHOANGHOATHANHPHAM]  WITH CHECK ADD  CONSTRAINT [FKCHITIETGIA43412] FOREIGN KEY([GIAIDOANSANXUATIDGDSX])
REFERENCES [dbo].[GIAIDOANSANXUAT] ([IDGDSX])
GO
ALTER TABLE [dbo].[CHITIETGIAIDOANSANXUATHOANGHOATHANHPHAM] CHECK CONSTRAINT [FKCHITIETGIA43412]
GO
ALTER TABLE [dbo].[CHITIETGIAIDOANSANXUATHOANGHOATHANHPHAM]  WITH CHECK ADD  CONSTRAINT [FKCHITIETGIA637244] FOREIGN KEY([HANGHOATHANHPHAMIDHHTP])
REFERENCES [dbo].[HANGHOATHANHPHAM] ([IDHHTP])
GO
ALTER TABLE [dbo].[CHITIETGIAIDOANSANXUATHOANGHOATHANHPHAM] CHECK CONSTRAINT [FKCHITIETGIA637244]
GO
ALTER TABLE [dbo].[CHITIETNGANHANGKH]  WITH CHECK ADD  CONSTRAINT [FKCHITIETNGA338890] FOREIGN KEY([NGANHANGIDNH])
REFERENCES [dbo].[NGANHANG] ([IDNH])
GO
ALTER TABLE [dbo].[CHITIETNGANHANGKH] CHECK CONSTRAINT [FKCHITIETNGA338890]
GO
ALTER TABLE [dbo].[CHITIETNGANHANGKH]  WITH CHECK ADD  CONSTRAINT [FKCHITIETNGA80199] FOREIGN KEY([KHACHHANGIDKH])
REFERENCES [dbo].[KHACHHANG] ([IDKH])
GO
ALTER TABLE [dbo].[CHITIETNGANHANGKH] CHECK CONSTRAINT [FKCHITIETNGA80199]
GO
ALTER TABLE [dbo].[CHITIETNGANHANGNCC]  WITH CHECK ADD  CONSTRAINT [FKCHITIETNGA129997] FOREIGN KEY([NGANHANGIDNH])
REFERENCES [dbo].[NGANHANG] ([IDNH])
GO
ALTER TABLE [dbo].[CHITIETNGANHANGNCC] CHECK CONSTRAINT [FKCHITIETNGA129997]
GO
ALTER TABLE [dbo].[CHITIETNGANHANGNCC]  WITH CHECK ADD  CONSTRAINT [FKCHITIETNGA150525] FOREIGN KEY([NHACUNGCAPIDNCC])
REFERENCES [dbo].[NHACUNGCAP] ([IDNCC])
GO
ALTER TABLE [dbo].[CHITIETNGANHANGNCC] CHECK CONSTRAINT [FKCHITIETNGA150525]
GO
ALTER TABLE [dbo].[DONHANGSANXUAT]  WITH CHECK ADD  CONSTRAINT [FKDONHANGSAN165526] FOREIGN KEY([KHACHHANGIDKH])
REFERENCES [dbo].[KHACHHANG] ([IDKH])
GO
ALTER TABLE [dbo].[DONHANGSANXUAT] CHECK CONSTRAINT [FKDONHANGSAN165526]
GO
ALTER TABLE [dbo].[DONHANGSANXUAT]  WITH CHECK ADD  CONSTRAINT [FKDONHANGSAN516678] FOREIGN KEY([TRANGTHAIDONHANGIDTTDH])
REFERENCES [dbo].[TRANGTHAIDONHANG] ([IDTTDH])
GO
ALTER TABLE [dbo].[DONHANGSANXUAT] CHECK CONSTRAINT [FKDONHANGSAN516678]
GO
ALTER TABLE [dbo].[HANGHOATHANHPHAM]  WITH CHECK ADD  CONSTRAINT [FKHANGHOATHA232779] FOREIGN KEY([BANGDINHMUCIDBDM])
REFERENCES [dbo].[BANGDINHMUC] ([IDBDM])
GO
ALTER TABLE [dbo].[HANGHOATHANHPHAM] CHECK CONSTRAINT [FKHANGHOATHA232779]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FKKHACHHANG476625] FOREIGN KEY([ACCOUNTIDACCOUNT])
REFERENCES [dbo].[ACCOUNT] ([IDACCOUNT])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FKKHACHHANG476625]
GO
ALTER TABLE [dbo].[NGANHANG]  WITH CHECK ADD  CONSTRAINT [FKNGANHANG786571] FOREIGN KEY([HINHTHUCTHANHTOANIDHTTT])
REFERENCES [dbo].[HINHTHUCTHANHTOAN] ([IDHTTT])
GO
ALTER TABLE [dbo].[NGANHANG] CHECK CONSTRAINT [FKNGANHANG786571]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FKNHANVIEN150316] FOREIGN KEY([ACCOUNTIDACCOUNT])
REFERENCES [dbo].[ACCOUNT] ([IDACCOUNT])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FKNHANVIEN150316]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FKNHANVIEN287288] FOREIGN KEY([LOAINHANVIENIDLNV])
REFERENCES [dbo].[LOAINHANVIEN] ([IDLNV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FKNHANVIEN287288]
GO
ALTER TABLE [dbo].[NOIDUNGDONDATHANGSANXUAT]  WITH CHECK ADD  CONSTRAINT [FKNOIDUNGDON204590] FOREIGN KEY([DONHANGSANXUATIDDHSX])
REFERENCES [dbo].[DONHANGSANXUAT] ([IDDHSX])
GO
ALTER TABLE [dbo].[NOIDUNGDONDATHANGSANXUAT] CHECK CONSTRAINT [FKNOIDUNGDON204590]
GO
ALTER TABLE [dbo].[NOIDUNGDONDATHANGSANXUAT]  WITH CHECK ADD  CONSTRAINT [FKNOIDUNGDON454288] FOREIGN KEY([HANGHOATHANHPHAMIDHHTP])
REFERENCES [dbo].[HANGHOATHANHPHAM] ([IDHHTP])
GO
ALTER TABLE [dbo].[NOIDUNGDONDATHANGSANXUAT] CHECK CONSTRAINT [FKNOIDUNGDON454288]
GO
ALTER TABLE [dbo].[NOIDUNGPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FKNOIDUNGPHI323304] FOREIGN KEY([PHIEUNHAPKHOIDPNK])
REFERENCES [dbo].[PHIEUNHAPKHO] ([IDPNK])
GO
ALTER TABLE [dbo].[NOIDUNGPHIEUNHAP] CHECK CONSTRAINT [FKNOIDUNGPHI323304]
GO
ALTER TABLE [dbo].[NOIDUNGPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FKNOIDUNGPHI793723] FOREIGN KEY([VATLIEUIDVL])
REFERENCES [dbo].[VATLIEU] ([IDVL])
GO
ALTER TABLE [dbo].[NOIDUNGPHIEUNHAP] CHECK CONSTRAINT [FKNOIDUNGPHI793723]
GO
ALTER TABLE [dbo].[NOIDUNGTHUNODONDATHANGKH]  WITH CHECK ADD  CONSTRAINT [FKNOIDUNGTHU172404] FOREIGN KEY([PHIEUTHUNOKHIDPTNKH])
REFERENCES [dbo].[PHIEUTHUNOKH] ([IDPTNKH])
GO
ALTER TABLE [dbo].[NOIDUNGTHUNODONDATHANGKH] CHECK CONSTRAINT [FKNOIDUNGTHU172404]
GO
ALTER TABLE [dbo].[NOIDUNGTHUNODONDATHANGKH]  WITH CHECK ADD  CONSTRAINT [FKNOIDUNGTHU691610] FOREIGN KEY([DONHANGSANXUATIDDHSX])
REFERENCES [dbo].[DONHANGSANXUAT] ([IDDHSX])
GO
ALTER TABLE [dbo].[NOIDUNGTHUNODONDATHANGKH] CHECK CONSTRAINT [FKNOIDUNGTHU691610]
GO
ALTER TABLE [dbo].[NOIDUNGTHUNOKH]  WITH CHECK ADD  CONSTRAINT [FKNOIDUNGTHU247172] FOREIGN KEY([PHIEUBANHANGIDPBH])
REFERENCES [dbo].[PHIEUBANHANG] ([IDPBH])
GO
ALTER TABLE [dbo].[NOIDUNGTHUNOKH] CHECK CONSTRAINT [FKNOIDUNGTHU247172]
GO
ALTER TABLE [dbo].[NOIDUNGTHUNOKH]  WITH CHECK ADD  CONSTRAINT [FKNOIDUNGTHU662665] FOREIGN KEY([PHIEUTHUNOKHIDPTNKH])
REFERENCES [dbo].[PHIEUTHUNOKH] ([IDPTNKH])
GO
ALTER TABLE [dbo].[NOIDUNGTHUNOKH] CHECK CONSTRAINT [FKNOIDUNGTHU662665]
GO
ALTER TABLE [dbo].[NOIDUNGTRANONCC]  WITH CHECK ADD  CONSTRAINT [FKNOIDUNGTRA161405] FOREIGN KEY([PHIEUTRANONCCIDPTNNCC])
REFERENCES [dbo].[PHIEUTRANONCC] ([IDPTNNCC])
GO
ALTER TABLE [dbo].[NOIDUNGTRANONCC] CHECK CONSTRAINT [FKNOIDUNGTRA161405]
GO
ALTER TABLE [dbo].[NOIDUNGTRANONCC]  WITH CHECK ADD  CONSTRAINT [FKNOIDUNGTRA625746] FOREIGN KEY([PHIEUNHAPKHOIDPNK])
REFERENCES [dbo].[PHIEUNHAPKHO] ([IDPNK])
GO
ALTER TABLE [dbo].[NOIDUNGTRANONCC] CHECK CONSTRAINT [FKNOIDUNGTRA625746]
GO
ALTER TABLE [dbo].[PHIEUBANHANG]  WITH CHECK ADD  CONSTRAINT [FKPHIEUBANHA285688] FOREIGN KEY([KHACHHANGIDKH])
REFERENCES [dbo].[KHACHHANG] ([IDKH])
GO
ALTER TABLE [dbo].[PHIEUBANHANG] CHECK CONSTRAINT [FKPHIEUBANHA285688]
GO
ALTER TABLE [dbo].[PHIEUBANHANG]  WITH CHECK ADD  CONSTRAINT [FKPHIEUBANHA809679] FOREIGN KEY([NHANVIENIDNV])
REFERENCES [dbo].[NHANVIEN] ([IDNV])
GO
ALTER TABLE [dbo].[PHIEUBANHANG] CHECK CONSTRAINT [FKPHIEUBANHA809679]
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO]  WITH CHECK ADD  CONSTRAINT [FKPHIEUNHAPK404038] FOREIGN KEY([NHANVIENIDNV])
REFERENCES [dbo].[NHANVIEN] ([IDNV])
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO] CHECK CONSTRAINT [FKPHIEUNHAPK404038]
GO
ALTER TABLE [dbo].[PHIEUTHUNOKH]  WITH CHECK ADD  CONSTRAINT [FKPHIEUTHUNO424815] FOREIGN KEY([HINHTHUCTHANHTOANIDHTTT])
REFERENCES [dbo].[HINHTHUCTHANHTOAN] ([IDHTTT])
GO
ALTER TABLE [dbo].[PHIEUTHUNOKH] CHECK CONSTRAINT [FKPHIEUTHUNO424815]
GO
ALTER TABLE [dbo].[PHIEUTHUNOKH]  WITH CHECK ADD  CONSTRAINT [FKPHIEUTHUNO66568] FOREIGN KEY([NHANVIENIDNV])
REFERENCES [dbo].[NHANVIEN] ([IDNV])
GO
ALTER TABLE [dbo].[PHIEUTHUNOKH] CHECK CONSTRAINT [FKPHIEUTHUNO66568]
GO
ALTER TABLE [dbo].[PHIEUTRANONCC]  WITH CHECK ADD  CONSTRAINT [FKPHIEUTRANO390415] FOREIGN KEY([HINHTHUCTHANHTOANIDHTTT])
REFERENCES [dbo].[HINHTHUCTHANHTOAN] ([IDHTTT])
GO
ALTER TABLE [dbo].[PHIEUTRANONCC] CHECK CONSTRAINT [FKPHIEUTRANO390415]
GO
ALTER TABLE [dbo].[PHIEUTRANONCC]  WITH CHECK ADD  CONSTRAINT [FKPHIEUTRANO89792] FOREIGN KEY([NHANVIENIDNV])
REFERENCES [dbo].[NHANVIEN] ([IDNV])
GO
ALTER TABLE [dbo].[PHIEUTRANONCC] CHECK CONSTRAINT [FKPHIEUTRANO89792]
GO
ALTER TABLE [dbo].[TOSANXUAT]  WITH CHECK ADD  CONSTRAINT [FKTOSANXUAT338232] FOREIGN KEY([GIAIDOANSANXUATIDGDSX])
REFERENCES [dbo].[GIAIDOANSANXUAT] ([IDGDSX])
GO
ALTER TABLE [dbo].[TOSANXUAT] CHECK CONSTRAINT [FKTOSANXUAT338232]
GO
ALTER TABLE [dbo].[TOSANXUATHANGHOATHANHPHAM]  WITH CHECK ADD  CONSTRAINT [FKTOSANXUATH27904] FOREIGN KEY([TOSANXUATIDTSX])
REFERENCES [dbo].[TOSANXUAT] ([IDTSX])
GO
ALTER TABLE [dbo].[TOSANXUATHANGHOATHANHPHAM] CHECK CONSTRAINT [FKTOSANXUATH27904]
GO
ALTER TABLE [dbo].[TOSANXUATHANGHOATHANHPHAM]  WITH CHECK ADD  CONSTRAINT [FKTOSANXUATH427864] FOREIGN KEY([HANGHOATHANHPHAMIDHHTP])
REFERENCES [dbo].[HANGHOATHANHPHAM] ([IDHHTP])
GO
ALTER TABLE [dbo].[TOSANXUATHANGHOATHANHPHAM] CHECK CONSTRAINT [FKTOSANXUATH427864]
GO
ALTER TABLE [dbo].[VATLIEU]  WITH CHECK ADD  CONSTRAINT [FKVATLIEU30392] FOREIGN KEY([NHOMVATLIEUIDNVL])
REFERENCES [dbo].[NHOMVATLIEU] ([IDNVL])
GO
ALTER TABLE [dbo].[VATLIEU] CHECK CONSTRAINT [FKVATLIEU30392]
GO
ALTER TABLE [dbo].[VATLIEU]  WITH CHECK ADD  CONSTRAINT [FKVATLIEU696857] FOREIGN KEY([NHACUNGCAPIDNCC])
REFERENCES [dbo].[NHACUNGCAP] ([IDNCC])
GO
ALTER TABLE [dbo].[VATLIEU] CHECK CONSTRAINT [FKVATLIEU696857]
GO
ALTER TABLE [dbo].[VATLIEU]  WITH CHECK ADD  CONSTRAINT [FKVATLIEU883549] FOREIGN KEY([HANGSANXUATIDHSX])
REFERENCES [dbo].[HANGSANXUAT] ([IDHSX])
GO
ALTER TABLE [dbo].[VATLIEU] CHECK CONSTRAINT [FKVATLIEU883549]
GO
ALTER TABLE [dbo].[VATLIEUSANXUATBANDAU]  WITH CHECK ADD  CONSTRAINT [FKVATLIEUSAN102344] FOREIGN KEY([VATLIEUIDVL])
REFERENCES [dbo].[VATLIEU] ([IDVL])
GO
ALTER TABLE [dbo].[VATLIEUSANXUATBANDAU] CHECK CONSTRAINT [FKVATLIEUSAN102344]
GO
ALTER TABLE [dbo].[VATLIEUSANXUATBANDAU]  WITH CHECK ADD  CONSTRAINT [FKVATLIEUSAN565867] FOREIGN KEY([BANGDINHMUCIDBDM])
REFERENCES [dbo].[BANGDINHMUC] ([IDBDM])
GO
ALTER TABLE [dbo].[VATLIEUSANXUATBANDAU] CHECK CONSTRAINT [FKVATLIEUSAN565867]
GO
ALTER TABLE [dbo].[VATLIEUSANXUATTHUC]  WITH CHECK ADD  CONSTRAINT [FKVATLIEUSAN352474] FOREIGN KEY([VATLIEUIDVL])
REFERENCES [dbo].[VATLIEU] ([IDVL])
GO
ALTER TABLE [dbo].[VATLIEUSANXUATTHUC] CHECK CONSTRAINT [FKVATLIEUSAN352474]
GO
ALTER TABLE [dbo].[VATLIEUSANXUATTHUC]  WITH CHECK ADD  CONSTRAINT [FKVATLIEUSAN356642] FOREIGN KEY([HANGHOATHANHPHAMIDHHTP])
REFERENCES [dbo].[HANGHOATHANHPHAM] ([IDHHTP])
GO
ALTER TABLE [dbo].[VATLIEUSANXUATTHUC] CHECK CONSTRAINT [FKVATLIEUSAN356642]
GO
USE [master]
GO
