@model QuanLySanXuat.Entities.NhanvienViewModel
@using QuanLySanXuat.Entities;

@{
    Layout = "_Layout";
    ProductionManagementSoftwareContext _context = new ProductionManagementSoftwareContext();

    List<Tosanxuat> tosanxuat = _context.Tosanxuat.Where(n => n.Active == 1).ToList();
}
<form asp-action="Create" asp-controller="Nhanvien" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="bg-light p-1 border border-secondary rounded">
        <h2>Cập Nhật Thông Tin Nhân Viên</h2>

        <div class="row">
            <div class="col-md-2 col-sm-12">
                <div class="row d-flex align-items-center">
                    <div class="col-md-4 col-sm-12">
                        Mã NV
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <input asp-for="Manv" id="Makh" maxlength="255" onfocus="this.value=''" type="text"
                               class="form-control">
                        <span asp-validation-for="Manv" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-sm-12">
                <div class="row d-flex align-items-center">
                    <div class="col-md-2 col-sm-12">
                        Tên NV
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <input asp-for="Tennv" id="Tenkh" onfocus="this.value=''" maxlength="255" type="text"
                               class="form-control">
                        <span asp-validation-for="Tennv" class="text-danger"></span>

                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="row d-flex align-items-center">
                    <div class="col-md-2 col-sm-12">
                        Email
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <input id="Email" asp-for="Email" onfocus="this.value=''" maxlength="255" type="text"
                               class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>


                    </div>
                </div>
            </div>




        </div>

        <div class="row mt-2">
            <div class="col-md-2 col-sm-12">
                <div class="row d-flex align-items-center">
                    <div class="col-md-4 col-sm-12">
                        SĐT
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <input type="text" asp-for="Sdt" id="Sdt" maxlength="255" onfocus="this.value=''"
                               class="form-control">
                        <span asp-validation-for="Sdt" class="text-danger"></span>


                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="row d-flex align-items-center">
                    <div class="col-md-2 col-sm-12">
                        Địa Chỉ
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <input type="text" asp-for="Diachi" onfocus="this.value=''" maxlength="255" id="Diachi"
                               class="form-control">
                        <span asp-validation-for="Diachi" class="text-danger"></span>


                    </div>
                </div>
            </div>
            
            <div class="col-md-5 col-sm-12">
                <div class="row d-flex align-items-center">

                    <div class="col-md-2 col-sm-12">
                        Tổ SX
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <div class="form-group ">

                            <select asp-for="Tosxid" id="multipleSelect" data-search="true"
                                    data-silent-initial-value-set="true">
                                <option value="">Không</option>

                                @foreach (var item in tosanxuat)
                                {
                                    <option value="@item.Idtsx">@item.Tentsx</option>
                                }

                            </select>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-2">
            <div class="col-md-2 col-sm-12">
                <div class="row d-flex align-items-center">
                    <div class="col-md-4 col-sm-12">
                        Giới tính
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <select asp-for="Gioitinh" id="Gioitinh">
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                            <option value="Khác">Khác</option>
                        </select>

                    </div>
                </div>
            </div>

            <div class="col-md-5 col-sm-12">
                <div class="row d-flex align-items-center">
                    <div class="col-md-2 col-sm-12">
                        CCCD
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <input asp-for="Cccd" id="Cccd" onfocus="this.value=''" maxlength="255" type="text"
                               class="form-control">
                        <span asp-validation-for="Cccd" class="text-danger"></span>

                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="row d-flex align-items-center">


                    <div class="col-md-2 col-sm-12">
                        Ng.Sinh
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <input type="date" id="Ngaysinh" onfocus="this.value=''" asp-for="Ngaysinh" maxlength="255"
                               class="form-control">
                        <span asp-validation-for="Ngaysinh" class="text-danger"></span>

                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-2">

            <div class="col-md-2 col-sm-12">
                <div class="row d-flex align-items-center">
                    <div class="col-md-4 col-sm-12">
                        Số Thuế
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <input type="text" asp-for="Masothue" onfocus="this.value=''" maxlength="255" id="Masothue"
                               class="form-control">
                        <span asp-validation-for="Masothue" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="row d-flex align-items-center">
                    <div class="col-md-2 col-sm-12">
                        Hình ảnh
                    </div>
                    <div class="col-md-10 col-sm-12">

                        <input asp-for="Hinhanh" type='file' onchange="readURL(this); " class="form-control" />

                        <span asp-validation-for="Hinhanh" class="text-danger"></span>

                    </div>
                </div>
            </div>


            <div class="col-md-5 col-sm-12">
                <div class="row d-flex align-items-center">
                    <div class="col-md-2 col-sm-12">
                        Ghi chú
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <textarea asp-for="Ghichu" id="Ghichu" onfocus="this.value=''" row="" maxlength="4000"
                                  style="height:10px;" class="form-control"></textarea>
                        <span asp-validation-for="Ghichu" class="text-danger"></span>

                    </div>
                </div>
            </div>



        </div>
        <div class="row mt-2">
            <div class="col-md-2 col-sm-12">

            </div>

            <div class="col-md-5 col-sm-12">
                <div class="row d-flex align-items-center">
                    <div class="col-md-2 col-sm-12">
                        Facebook
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <input type="text" asp-for="Facebook" onfocus="this.value=''" id="Facebook" maxlength="255"
                               class="form-control">
                        <span asp-validation-for="Facebook" class="text-danger"></span>

                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="row d-flex align-items-center">
                    <div class="col-md-2 col-sm-12">
                        Zalo
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <input type="text" id="Zalo" onfocus="this.value=''" asp-for="Zalo" maxlength="255"
                               class="form-control">
                        <span asp-validation-for="Zalo" class="text-danger"></span>

                    </div>
                </div>
            </div>


        </div>
        <div class="row mt-3">
            <div class="col-md-3 col-sm-12 "></div>
            <div class="col-md-3 col-sm-12 "></div>
            <div class="col-md-3 col-sm-12 "></div>

            <div class="col-md-3 col-sm-12 ">
                <div class="d-flex">
                    <a href="/Nhanvien/Index" class="btn btn-light w-50">Hủy bỏ</a>
                    <button type="submit" class="btn btn-primary w-50" style="float: right;">
                        Lưu
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center mt-2">
        <div class="control-label mr-3">Ảnh vừa tải lên</div>
        <img id="ShowImage" src="#" class=" " height="300" width="300" style="border-radius:10px"
             asp-append-version="true" alt="Không có ảnh" />
    </div>

</form>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#ShowImage')
                    .attr('src', e.target.result)
                    .width(300)
                    .height(300);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>