@model QuanLySanXuat.Entities.Phieunhapkho

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Phieunhapkho</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sophieu" class="control-label"></label>
                <input asp-for="Sophieu" class="form-control" />
                <span asp-validation-for="Sophieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaylap" class="control-label"></label>
                <input asp-for="Ngaylap" class="form-control" />
                <span asp-validation-for="Ngaylap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sohd" class="control-label"></label>
                <input asp-for="Sohd" class="form-control" />
                <span asp-validation-for="Sohd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngayhd" class="control-label"></label>
                <input asp-for="Ngayhd" class="form-control" />
                <span asp-validation-for="Ngayhd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ghichu" class="control-label"></label>
                <input asp-for="Ghichu" class="form-control" />
                <span asp-validation-for="Ghichu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idnv" class="control-label"></label>
                <select asp-for="Idnv" class ="form-control" asp-items="ViewBag.Idnv"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
