

@model QuanLySanXuat.Entities.Hangsx

@{
    Layout = "_Layout";

}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h3 class="tile-title">Vật liệu #@Model.Mahsx</h3>
            <div class="tile-body">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Idhsx" />
                <div class="row">
                    <div class="form-group col-md-12 col-sm-12">

                        <label class="control-label">Hãng sản xuất</label>
                        <div>
                            @Model.Mahsx - @Model.Tenhsx
                        </div>
                    </div>



                </div>



            </div>

        </div>
    </div>
</div>
