@model QuanLySanXuat.Entities.Khachhang
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE html>
<html lang="vi">

<head>
    <title>Đăng nhập quản trị</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/CSS/util.css">
    <link rel="stylesheet" type="text/css" href="~/CSS/main.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="row">
                    @*<div class="col-md-6 col-sm-12">
                        <div class="login100-pic js-tilt" data-tilt>
                            <img src="~/Images/team.jpg" alt="IMG">
                        </div>
                    </div>*@
                    <div class="col-md-6 col-sm-12">

                        <!--=====TIÊU ĐỀ======-->
                        <span class="login100-form-title">
                            <b>ĐĂNG KÝ THÔNG TIN TÀI KHOẢN NGƯỜI DÙNG</b>
                        </span>
                        <!--=====FORM INPUT TÀI KHOẢN VÀ PASSWORD======-->
                        <form asp-action="DangKy" asp-controller="Home">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="wrap-input100 validate-input ">

                                        <label asp-for="Makh" class="control-label">Nick Name</label>
                                        <input asp-for="Makh" class="form-control col-md-12" />
                                        <span asp-validation-for="Makh" class="text-danger"></span>
                                    </div>
                                    <div class="wrap-input100 validate-input">

                                        <label asp-for="Tenkh" class="control-label">Họ và tên</label>
                                        <input asp-for="Tenkh" class="form-control col-md-12" />
                                        <span asp-validation-for="Tenkh" class="text-danger"></span>
                                    </div>
                                    <div class="wrap-input100 validate-input">

                                        <label asp-for="Sdt" class="control-label">Số điện thoại</label>
                                        <input asp-for="Sdt" class="form-control col-md-12" />
                                        <span asp-validation-for="Sdt" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="wrap-input100 validate-input">

                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" class="form-control col-md-12" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="wrap-input100 validate-input">

                                        <label asp-for="Diachi" class="control-label">Địa chỉ</label>
                                        <input asp-for="Diachi" class="form-control col-md-12" />
                                        <span asp-validation-for="Diachi" class="text-danger"></span>
                                    </div>
                                    <div class="wrap-input100 validate-input">

                                        <label asp-for="Masothue" class="control-label">Mã số thuế</label>
                                        <input asp-for="Masothue" class="form-control col-md-12" />
                                        <span asp-validation-for="Masothue" class="text-danger"></span>
                                    </div>

                                    <div class="wrap-input100 validate-input">

                                        <label asp-for="Gioitinh" class="control-label"></label>
                                        <select name="GIOITINH">
                                            <option value="Nam">
                                                NAM
                                            </option>
                                            <option value="Nữ">
                                                NỮ
                                            </option>
                                            <option value="Chưa xác định">
                                                CHƯA XÁC ĐỊNH
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap-input100 validate-input">

                                <label asp-for="Ghichu" class="control-label"></label>
                                <textarea asp-for="Ghichu" class="form-control col-md-12" ></textarea>
                                <span asp-validation-for="Ghichu" class="text-danger"></span>
                            </div>

                            <!--=====ĐĂNG NHẬP======-->
                            <div class="container-login100-form-btn">
                                <input type="submit" value="Đăng ký" id="submit" />
                                @*<input type="submit" value="Đăng nhập" id="submit" onclick="validate()" />*@
                            </div>
                            <!--=====LINK TÌM MẬT KHẨU======-->
                            <div class="text-right p-t-12">
                                @*<a class="txt2 mr-3" href="../Views/Home/Index.cshtml">
            Trang chủ
        </a>
        <a class="txt2" href="forgot.html">
            Bạn quên mật khẩu?
        </a>*@
                                @Html.ActionLink("Trang chủ", "Index", "Home", null, new { @class = "txt2 mr-3" })
                                @Html.ActionLink("Đăng nhập", "DangNhap", "Home", null, new { @class = "txt2 mr-3" })

                                @Html.ActionLink("Bạn quên mật khẩu?", "QuenMatKhau", "Home", null, new { @class = "txt2" })
                            </div>
                        </form>
                        <!--=====FOOTER======-->
                        <div class="text-center p-t-70 txt2">
                            Phần mềm quản lý sản xuất <i class="far fa-copyright" aria-hidden="true"></i>
                            <script type="text/javascript">document.write(new Date().getFullYear());</script>
                            <a class="txt2" href="https://www.facebook.com/nguyenvanhien0506"> Code by HienCa </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Javascript-->
    <script src="~/Javascript/main.js"></script>
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/select2/select2.min.js"></script>
    <script type="text/javascript">
        //show - hide mật khẩu
        function myFunction() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
                x.type = "text"
            } else {
                x.type = "password";
            }
        }
        $(".click-eye").click(function () {
            $(this).toggleClass("bx-show bx-hide");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    </script>
</body>

</html>
